.css-grid{

    &-gallery{
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: 5px;
        .active{
            border:3px solid red;
        }
        img{
            width: 100%;
        }
    }
    
}

.modal-container{
    position: relative;
    .modal-close{
        position: absolute;
        top: -15px;
        right: 1px;
        font-size: 2em;
        color: #ffffff;
    }
    img{
        width: 100%;
    }
}